body{
    background-color: #ffffff;
}



img{
    width: 70%;
   
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

button{
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    background-color: rgb(41, 130, 246);
    color: rgb(243, 239, 239);

}

@media screen and (max-width:630px) {
    h1{        
        font-size: px;        
    }
}
