*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Estilos del ecabezado de la pagina */

.encabezado {
    background: #dbe6ff;
    height: 70px;
    width: 100%;
    display: flex; 
    margin-top: 0px;
    justify-content: space-between;
    padding: 10px;
}

.nombrecol{
    text-align:left; 
    padding-top: 10px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 2px 2px #01003b;
}

.img{
    height: 50px;
    width: 100px;
    box-shadow: 1px 2px 2px #01003b;   
}

.logo {
    position: fixed;
    float: right;
    height: 10px;
    width: 20px;
    background-size: cover;
    margin-top: 10px;
}

/* Fin estilos del ecabezado de la pagina */

/* Estilos del titulo de la pagina */

.Contenerdor{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.titulo {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex: 13;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1.5px 1.5px #01003b;
}

.regresar {
    display: flex;
    align-items:right; 
    flex: 1;
    padding-top: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 0.3px  0.3px #dbe6ff;
}

.regresar :hover{
    background: #b4c2ffcc;
    transition: .5s;
    padding: 4px;
    border-radius: 15px;
    cursor: pointer;
}

.regresar1 {
    justify-items: center;
    margin-left: 48%;
    padding-top: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 0.3px  0.3px #dbe6ff;
}

.regresar1 :hover{
    background: #b4c2ffcc;
    transition: .5s;
    padding: 4px;
    border-radius: 15px;
    cursor: pointer;
}

/* Fin estilos del titulo de la pagina */

/* Estilos contenido (fotos de actividades Escolares) de la pagina */

.ActividadCol {
    width: 95%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.Actividad {    
    border-bottom: outset #deebfc;
    padding: 12px;
    padding-bottom: 12px;
    background-color: #f0f6fc;
    border-radius: 12px;
    display: flex;
    flex: 1;
}

.Actividad1 {    
    border-bottom: outset #deebfc;
    padding: 12px;
    padding-bottom: 12px;
    background-color: #f0f6fc;
    border-radius: 12px;
    display: flex;
    flex: 1;
}

.Actividad2 {    
    border-bottom: outset #deebfc;
    padding: 12px;
    padding-bottom: 12px;
    background-color: #f0f6fc;
    border-radius: 12px;
    display: flex;
    flex: 1;
}

.Actividad3 {    
    border-bottom: outset #deebfc;
    padding: 12px;
    padding-bottom: 12px;
    background-color: #f0f6fc;
    border-radius: 12px;
    display: flex;
    flex: 1;
}

/* Estilos contenido (bloques de texto) de la pagina */

.ActividadesE {
    width: 650px;
    margin: 0 auto;
}

.ActividadesExt {
    width: 650px;
    margin: 0 auto;
}

.SalidasP {
    width: 650px;
    margin: 0 auto;
}

.ActividadesCul {
    width: 650px;
    margin: 0 auto;
}

.DiaIdioma {
    width: 650px;
    margin: 0 auto;
}

.Promociones {
    width: 650px;
    margin: 0 auto;
}

.contenido{    
    border-bottom: outset #deebfc;
    padding: 8px;
    padding-bottom: 8px;
    background-color: #f0f6fc;
    border-radius: 12px;
}

/* Fin estilos contenido (fotos de actividades Escolares) de la pagina */

article {
    transition: box-shadow 0.4s ease;
    background-color: #ffffff;
    margin: 1 rem 0;
    border-radius: 0.5rem;
    padding: 5px;
    cursor: pointer;
}

article h2, article p{
    margin: 12px;
}

article p{
    text-align: justify;
}

article:hover {
    box-shadow: 1px 3px 4px rgba(4, 5, 92, 0.5);
    transform: scale(1.1);
}

/* Fin estilos contenido (fotos de la agenda) de la pagina */